.site-wrapp {
	display: flex;
	flex-direction: column;
	&.open {
		.wrapper {
			//width: calc(100% - 40%);
			transform: translateX(-470px);
		}
		.form-wrapp {
			transform: translateX(0);
		}
	}
}
.wrapper {
	position: relative;
	transition: transform 0.7s cubic-bezier(0.29, 0, 0.355, 1), -webkit-transform 0.7s cubic-bezier(0.29, 0, 0.355, 1), -moz-transform 0.7s cubic-bezier(0.29, 0, 0.355, 1), -o-transform 0.7s cubic-bezier(0.29, 0, 0.355, 1)
}
.title {
	display: inline-block;
	padding: 0 5px;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	background: #301aee;
}
// .section {
// 	height: 100vh;
// 	width: 100vw;
// 	overflow: hidden;
// }
.video-wrapp {
	position: relative;
	// width: 100%;
	height: 100%;
    // background-color: rgba(0, 0, 0, .6);
	video {
		-o-object-fit: cover;
	    object-fit: cover;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    // position: absolute;
	    // top: 0;
	    // left: 0;
	    // top: 50%;
	    // left: 50%;
	    // transform: translate(-50%, -50%);
	    // width: 100%;
	    // height: auto;
	    // z-index: -1;
	    // width: 100%;
    	// object-fit: cover;
	}
}

.pic-wrapp {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.btn {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:hover {
		border: none;
		outline: none
	}
}
section {
	min-height: 700px;
}
a, button, textarea, input {
	outline: none;
}

.slick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
}
.slick-slider {
	padding-top: 50px;
	margin-top: -12px;
}
.slick-arrow {
	top: 0;
}
.slick-prev, .slick-next {
	color: #301aee;
	font-size: 38px;
	font-weight: bold;
	&:hover {
		color: #fff;
	}
}
.slick-prev {
	left: 0;
}

.slick-next {
	right: 85%;
}

.pagingInfo, .pagingInfo-courusel {
	display: inline-block;
	padding-left: 45px;
	font-size: 18px;
	color: #301aee;
	text-transform: uppercase;
}
.section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section-two {
	background-image: url("static/images/content/bg-two.jpg");
}
