.content-one-wrapp {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}
.content-one {
	width: 70%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.content-one__subtitle {
	display: inline-block;
	padding: 0 5px;
	font-size: 38px;
	background: #301aee;
}
.content-one__title {
	display: block;
	font-size: 100px;
}