.content-four
	.container
		h2.title Наши проекты
		p.desc Мы создаем качественное видео для канала  <a href="" class="content-four__link">Михаил Сочивец</a>, а также для наших клиентов и собственных проектов
		.pagingInfo
		.courusel-project
			a(href="").courusel-project__item
				.project-pic
					iframe(src="https://www.youtube.com/embed/-B3p1JuR71c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				//.project-pic
				//	img.project-slide(src='static/images/content/slide_i_1.jpg')
				//	img.project-icon(src='static/images/general/youtube_slider_icon.png')
				p Игрушки для взрослых, секс шоп Incognito.
			a(href="").courusel-project__item
				.project-pic
					iframe(src="https://www.youtube.com/embed/LAQ-6_V4ogU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					//img.project-slide(src='static/images/content/slide_i_2.jpg')
					//img.project-icon(src='static/images/general/youtube_slider_icon.png')
				p SMM специалист как заработать миллион.
			a(href="").courusel-project__item
				.project-pic
					iframe(src="https://www.youtube.com/embed/1UIG-SS7Rt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					//img.project-slide(src='static/images/content/slide_i_3.jpg')
					//img.project-icon(src='static/images/general/youtube_slider_icon.png')
				p Красная поляна. Казино в сочи.
			a(href="").courusel-project__item
				.project-pic
					iframe(src="https://www.youtube.com/embed/vfEuaafg8N4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					//img.project-slide(src='static/images/content/slide_i_1.jpg')
					//img.project-icon(src='static/images/general/youtube_slider_icon.png')
				p Горнолыжный курорт Красная Поляна, Сочи.