.content-four
	.container
		h2.title Наши проекты
		p.desc Мы создаем качественное видео для канала  <a href="" class="content-four__link">Михаил Сочивец</a>, а также для наших клиентов и собственных проектов

		.courusel
			.courusel__item 1
			.courusel__item 2
			.courusel__item 3