.pagination
	ul.pagination-nav
		li.pagination-nav__item.prev
			a.pagination-nav__link(href="")
				i.fal.fa-chevron-up
		li.pagination-nav__item
			a.pagination-nav__link.pagination-count(href="")
				span.count-slider 1
		li.pagination-nav__item.next
			a.pagination-nav__link(href="")
				i.fal.fa-chevron-down
	.pagination-list
		a.pagination-list__item.active
			span.pagination-list__link
