a.contact(href="")
	img.wow.pulse.contact__pic--show(src="static/images/general/circle.png", alt="pic")
	img.wow.pulse.contact__pic--hover(src="static/images/general/circle-white.png", alt="pic")
	.contact__content
		p Связаться с нами

