.content-three
	.content-three-box
		h2.title о нас
		p Посмотрите небольшой ролик, чтобы узнать о компании и наших услугах
		.btn-wrap
			button.btn.btn-video(type="button") 
				span 60 секунд о нас
				img(src="static/images/general/youtube_icon.png", alt="pic")