.content-seven {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    margin-bottom: 35px;
  }
  .desc {
    font-size: 50px;
    margin-bottom: 65px;
  }
}

.content-seven-wrapp {
	width: 80%;
}
.slick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
}