.content-six {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
    justify-content: center;
    align-items: center;
	.title {
		margin-bottom: 70px;
	}
}
.content-six__wrapp {
	width: 70%;
}
.content-six__list {
	li {
		font-size: 30px;
		margin-bottom: 40px;
	}
}
