.content-seven
    .container
        .content-seven-wrapp
            h2.title НАШИ КЛИЕНТЫ
            p.desc Работаем как с небольшими компаниями, так и с крупными брендами

        .courusel
            .courusel__item
                img(src="static/images/content/slide_1.png")
            .courusel__item
                img(src="static/images/content/slide_2.png")
            .courusel__item
                img(src="static/images/content/slide_3.png")
            .courusel__item
                img(src="static/images/content/slide_4.png")
            .courusel__item
                img(src="static/images/content/slide_5.png")
            .courusel__item
                img(src="static/images/content/slide_6.png")
            .courusel__item
                img(src="static/images/content/slide_1.png")
            .courusel__item
                img(src="static/images/content/slide_2.png")
            .courusel__item
                img(src="static/images/content/slide_3.png")
            .courusel__item
                img(src="static/images/content/slide_4.png")
            .courusel__item
                img(src="static/images/content/slide_5.png")
            .courusel__item
                img(src="static/images/content/slide_6.png")