ul.socials-list
	li.socials-list__item
		a.socials-list__link.youtube(href="https://www.youtube.com/user/moneymaxmaker")
			span
				i.fab.fa-youtube
	//li.socials-list__item
	//	a.socials-list__link.instagram(href="")
	//		span
	//			i.fab.fa-instagram
	//li.socials-list__item
	//	a.socials-list__link.facebook(href="")
	//		span
	//			i.fab.fa-facebook-f
	//li.socials-list__item
	//	a.socials-list__link.vk(href="")
	//		span
	//			i.fab.fa-vk
	li.socials-list__item
		a.socials-list__link.whatsapp(href="https://wa.me/79181634574?text=Хочу%20получить%20подробную%20информацию")
			span
				i.fab.fa-whatsapp
	li.socials-list__item
		a.socials-list__link.telegram(href="https://telega.ru/lsergol")
			span
				i.fab.fa-telegram-plane