.content-six
    .container
        .content-six__wrapp
            h2.title МЫ ГОТОВЫ СДЕЛАТЬ НЕВОЗМОЖНОЕ
            ul.content-six__list
                li
                    span
                        img(src="static/images/general/a_1.png")
                    p Опытная команда, которая готова взяться за проект любой сложности.
                li
                    span
                        img(src="static/images/general/a_2.png")
                    p Результат нашей работы - это тщательно продуманный видео продукт, который полностью выполняет требования заказчика, и может впечатлить его потребителя.
                li
                    span
                        img(src="static/images/general/a_3.png")
                    p Мы не просто производим, мы делимся своим опытом и с каждым проектом получаем новый.

