.content-eight {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}

.content-eight-wrapp {
	display: flex;
	align-items: center;
	height: 100%;
}

.content-contacts {
	width: 45%;
	.title {
		margin-bottom: 45px;
	}
	.desc {
		font-size: 40px;
		margin-bottom: 70px;
	}
}
.contacts-list {
	a {
		margin-left: 18px;
		display: inline-block;
		vertical-align: middle;
		&:first-child {
			margin-left: 0;
		}
	}
	a.whatsapp {
		img {
			width: 28px;
			height: 28px;
		}
	}
	a.telegram {
		img {
			width: 31px;
			height: 26px;
		}
	}
	a.phone {
		color: #fff;
		font-size: 35px;
		letter-spacing: 10px;
	}
}

.contacts-form {
	width: 55%;

}
.contacts-form-box {
	border: 2px solid #301aee;
}
.contacts-form-wrapp {
	border-bottom: 2px solid #301aee;
}
.contacts-form-wrapp-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.contacts-form__item {
		width: 50%;
	}
}
.contacts-form__item {
	//display: flex;
	padding: 25px;
	cursor: pointer;
	input, textarea {
		background: transparent;
		border: none;
		font-size: 16px;
		color: #fff;
		text-align: left;
		width: 100%;
	}
	textarea {
		width: 100%;
		min-height: 80px;
	}
	label {
		font-size: 16px;
		position: relative;
		padding-left: 35px;
	}
}
.contacts-form-wrapp-border_none {
	border: none;
}
input[placeholder] {color:#9c93a8;font-size: 16px;}
input::-webkit-input-placeholder {color:#9c93a8;font-size: 16px;}
input::-moz-placeholder          {color:#9c93a8;font-size: 16px;}/* Firefox 19+ */
input:-moz-placeholder           {color:#9c93a8;font-size: 16px;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#9c93a8;font-size: 16px;}

input[type="radio"] {
	position: relative;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 25px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	//border: 2px solid #301aee;
	//color: #301aee;
	//font-size: 30px;
	background: url("static/images/general/checkbox.png") no-repeat;
}
input[type="radio"]:checked + label::before {
	//content: "";
	//position: absolute;
	//top: 0;
	//left: 0;
	//width: 40px;
	//height: 40px;
	background: url("static/images/general/checkbox_checked.png") no-repeat;
}

input[type="radio"] {
	position: relative;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 25px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
input[type="checkbox"] {
	position: relative;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 25px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
.ico-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
}
.ico-input .ico-input-checked {
	display: none;
}
input[type="radio"]:checked + label {
	.ico-input .ico-input-check {
		display: none;
	}
	.ico-input .ico-input-checked {
		display: block;
	}
}
input[type="checkbox"]:checked + label {
	.ico-input .ico-input-check {
		display: none;
	}
	.ico-input .ico-input-checked {
		display: block;
	}
}

//input[type="checkbox"] {
//	position: relative;
//	width: 20px;
//	height: 20px;
//	font-size: 20px;
//	line-height: 25px;
//	margin-right: 10px;
//	cursor: pointer;
//	display: none;
//}
//input[type="checkbox"] + label::before {
//	content: "";
//	position: absolute;
//	top: 0;
//	left: 0;
//	width: 40px;
//	height: 40px;
//	//border: 2px solid #301aee;
//	//color: #301aee;
//	//font-size: 30px;
//	background: url("/static/images/general/checkbox.png") no-repeat;
//}
//input[type="checkbox"]:checked + label::before {
//	//content: "";
//	//position: absolute;
//	//top: 0;
//	//left: 0;
//	//width: 40px;
//	//height: 40px;
//	background: url("/static/images/general/checkbox_checked.png") no-repeat;
//}
.btn--contacts {
	width: 100%;
	background: #ff0000;
	color: #fff;
	text-transform: uppercase;
	//min-width: 395px;
	padding: 15px;
	font-size: 17px;

	&:disabled {
		opacity: 0.6;
	}
}
.contacts-form__item--custom {
	padding: 20px 0;
}
.purpur {
	color: #301aee;
}
.policy {
	display: inline-block;
	color: #301aee;
	&:hover {
		color: #5a46ff;
		text-decoration: underline;
	}
}

#msg {
	display: none;
}

.error {
	color: red;
}

.success {
	color: green;
}
