section.section.section-one
	.pic-wrapp(style="background-image: url('static/images/content/video-bg-1.jpg')")
	include content-one.pug
		//- img(src="/static/images/content/video-bg-1.jpg", alt="pic")
		//- video(pip="false" loop="" muted="muted" autoplay="" data-keepplaying="" data-autoplay="" playsinline="" webkit-playsinline="")
		//- 	source(src="/static/images/video/Showreel.mp4" type="video/mp4")
				